<div class="grid h-auto overflow-hidden flex flex-column md:flex-row">
  <div
    class="col-12 md:col-5 flex align-items-center justify-content-center p-0"
  >
    <app-register-side-image></app-register-side-image>
  </div>
  <div class="col-12 md:col-7 bg-white border-round p-0">
    <app-register-form
      (showConditions)="toggleDialog($event)"
    ></app-register-form>
  </div>
  <app-show-conditions-dialog
    [isDialogOpen]="isDialogOpen"
    (emitDialogToggleStatus)="toggleDialog($event)"
  ></app-show-conditions-dialog>
</div>
