<div
  class="w-full h-fullscreen flex items-center md:justify-content-center border-2"
>
  <p-toast />
  <div
    class="bg-blue-500 justify-content-around align-items-center hidden md:block md:flex md:flex-column"
    style="width: 60%; height: 100dvh"
  >
    <div class="flex align-items-center justify-content-center">
      <img
        src="/assets/logo.png"
        alt="Logo"
        class="w-7rem h-7rem object-cover"
      />
      <p class="text-7xl text-white mb-0">Cardiovasc</p>
    </div>
    <div class="" style="width: 75dvh">
      <img
        src="/assets/doctor.png"
        alt="Logo"
        class="w-full object-cover align-items-end"
      />
    </div>
  </div>
  <div
    class="w-full md:w-11 border-round-xl flex flex-column"
    style="height: 100dvh"
  >
    <div
      class="md:hidden bg-blue-500 flex align-items-center justify-content-center"
    >
      <img
        src="/assets/logo.png"
        alt="Logo"
        class="w-3rem h-3rem object-cover"
      />
      <p class="text-3xl text-white text-blue-500 mb-0">Cardiovasc</p>
    </div>
    <p class="text-2xl md:text-7xl text-blue-500 font-bold text-center mt-4">
      Agenda tu cita
    </p>
    <div class="w-full flex align-items-center justify-content-around h-full">
      @if (currentStep === 0) {
        @if (!modeRegister) {
          <form
            [formGroup]="identificationForm"
            (ngSubmit)="consultarUsuario()"
            class="border-2 border-blue-500 border-round-lg md:mt-6 shadow-2xl md:h-min mb-8"
          >
            <div
              class="flex flex-column justify-content-center items-center gap-4 p-4"
            >
              <div class="">
                <p
                  class="text-3xl md:text-5xl text-center font-bold mb-0 text-blue-500"
                >
                  Identificación
                </p>
                <p
                  class="text-xs md:text-sm text-center font-bold text-gray-400"
                >
                  Ingresa tu identificación para continuar el proceso
                </p>
              </div>
              <div
                class="flex md:flex-row flex-column gap-4 align-items-center justify-items-center"
              >
                <div class="w-15rem md:h-7rem">
                  <label
                    class="mb-2 font-bold"
                    for="identification"
                    [class.text-red-500]="
                      identificationForm.get('typeIdentity')?.invalid &&
                      identificationForm.get('typeIdentity')?.touched
                    "
                    [class.text-blue-500]="
                      !(
                        identificationForm.get('typeIdentity')?.invalid &&
                        identificationForm.get('typeIdentity')?.touched
                      )
                    "
                  >
                    Tipo de Identificación:</label
                  >
                  <p-select
                    optionLabel="name"
                    [optionValue]="'value'"
                    [options]="typesIdentity"
                    formControlName="typeIdentity"
                    placeholder="Tipo de Identificación"
                    class="w-full"
                    [ngClass]="{
                      'ng-invalid ng-dirty':
                        identificationForm.get('typeIdentity')?.invalid &&
                        identificationForm.get('typeIdentity')?.touched,
                    }"
                  />
                </div>
                <div class="flex flex-column w-15rem md:h-7rem">
                  <label
                    class="mb-2 text-blue-500 font-bold"
                    for="identification"
                    [ngClass]="{
                      'text-red-500':
                        identificationForm.get('identification')?.invalid &&
                        identificationForm.get('identification')?.touched,
                    }"
                    >Identificación</label
                  >
                  <input
                    id="identification"
                    pInputText
                    formControlName="identification"
                    placeholder="Ingrese su identificación"
                    [ngClass]="{
                      'ng-invalid ng-dirty':
                        identificationForm.get('identification')?.invalid &&
                        identificationForm.get('identification')?.touched,
                    }"
                  />
                  <small
                    class="text-red-500 text-xs"
                    *ngIf="
                      identificationForm.get('identification')?.errors?.[
                        'pattern'
                      ]
                    "
                  >
                    Debe contener 10 dígitos numéricos.
                  </small>
                  <small
                    class="text-red-500 text-xs"
                    *ngIf="
                      identificationForm.get('identification')?.errors?.[
                        'required'
                      ] && formSubmitted
                    "
                  >
                    Este campo es requerido.
                  </small>
                </div>
              </div>
              <div class="flex justify-content-end w-full">
                <p-button
                  type="submit"
                  label="Continuar"
                  styleClass="w-10rem"
                  [loading]="loadingForm"
                />
              </div>
            </div>
          </form>
        } @else {
          <form
            [formGroup]="registerForm"
            (ngSubmit)="crearUsuario()"
            class="flex justify-content-center"
            style="width: 100%; height: 100%"
          >
            <div
              class="flex flex-column justify-content-center text-blue-500 items-center gap-2 border-2 h-min mt-2 md:mt-8 p-4 border-round-xl shadow-2xl md:w-8 w-full"
            >
              <!-- style="width: 65%" -->
              <div class="">
                <p class="text-5xl font-bold mb-0 text-center md:text-left">
                  Registro
                </p>
                <p
                  class="text-sm font-bold text-gray-400 mb-0 text-center md:text-left"
                >
                  Llena los siguientes datos para crear la cuenta y poder
                  asignarte una cita
                </p>
              </div>
              <div class="grid align-items-center mt-4">
                <div class="flex flex-column gap-y-4 md:column-gap-2 w-full">
                  <div class="flex md:flex-row flex-column gap-2">
                    <div class="flex md:w-6 w-full flex-column">
                      <label
                        class="mb-2 font-bold"
                        for="identification"
                        [ngClass]="{
                          'text-red-500':
                            registerForm.get('typeIdentity')?.invalid &&
                            registerForm.get('typeIdentity')?.touched,
                        }"
                        >Tipo de Identificación:</label
                      >
                      <p-select
                        optionLabel="name"
                        [optionValue]="'value'"
                        formControlName="typeIdentity"
                        [options]="typesIdentity"
                        placeholder="Tipo de Identificación"
                        class="min-w-20rem"
                        [ngClass]="{
                          'ng-invalid ng-dirty':
                            registerForm.get('typeIdentity')?.invalid &&
                            registerForm.get('typeIdentity')?.touched,
                        }"
                      />
                      <small
                        class="text-red-500 text-xs"
                        *ngIf="
                          registerForm.controls['typeIdentity'].errors?.[
                            'required'
                          ] && formSubmitted
                        "
                      >
                        Este campo es requerido.
                      </small>
                    </div>
                    <div class="flex md:w-6 w-full flex-column">
                      <label
                        class="mb-2 font-bold"
                        for="identification"
                        [ngClass]="{
                          'text-red-500':
                            registerForm.get('typeIdentity')?.invalid &&
                            registerForm.get('typeIdentity')?.touched,
                        }"
                        >Cedula de identidad:</label
                      >
                      <input
                        id="identification"
                        pInputText
                        formControlName="identification"
                        placeholder="Ingrese su identificación"
                        [ngClass]="{
                          'ng-invalid ng-dirty':
                            registerForm.get('identification')?.invalid &&
                            registerForm.get('identification')?.touched,
                        }"
                      />
                      <small
                        class="text-red-500 text-xs"
                        *ngIf="
                          registerForm.controls['identification'].errors?.[
                            'required'
                          ] && formSubmitted
                        "
                      >
                        Este campo es requerido.
                      </small>
                      <small
                        class="text-red-500 text-xs"
                        *ngIf="
                          registerForm.get('identification')?.errors?.[
                            'pattern'
                          ]
                        "
                      >
                        Debe contener 10 dígitos numéricos.
                      </small>
                    </div>
                  </div>
                  <div class="flex md:flex-row flex-column gap-2">
                    <div class="flex md:w-6 w-full flex-column">
                      <label
                        class="mb-2 font-bold"
                        for="names"
                        [ngClass]="{
                          'text-red-500':
                            registerForm.get('names')?.invalid &&
                            registerForm.get('names')?.touched,
                        }"
                        >Nombres:</label
                      >
                      <input
                        id="names"
                        pInputText
                        formControlName="names"
                        placeholder="Ingrese su nombre"
                        [ngClass]="{
                          'ng-invalid ng-dirty':
                            registerForm.get('names')?.invalid &&
                            registerForm.get('names')?.touched,
                        }"
                      />
                      <small
                        class="text-red-500 text-xs"
                        *ngIf="registerForm.get('names')?.errors?.['pattern']"
                      >
                        Debe contener solo letras.
                      </small>
                      <small
                        class="text-red-500 text-xs"
                        *ngIf="
                          registerForm.controls['names'].errors?.['required'] &&
                          formSubmitted
                        "
                      >
                        Este campo es requerido.
                      </small>
                    </div>
                    <div class="flex md:w-6 w-full flex-column">
                      <label
                        class="mb-2 font-bold"
                        for="lastnames"
                        [ngClass]="{
                          'text-red-500':
                            registerForm.get('lastnames')?.invalid &&
                            registerForm.get('lastnames')?.touched,
                        }"
                        >Apellidos:</label
                      >
                      <input
                        id="lastNames"
                        pInputText
                        formControlName="lastnames"
                        placeholder="Ingrese su apellido"
                        [ngClass]="{
                          'ng-invalid ng-dirty':
                            registerForm.get('lastnames')?.invalid &&
                            registerForm.get('lastnames')?.touched,
                        }"
                      />
                      <small
                        class="text-red-500 text-xs"
                        *ngIf="
                          registerForm.controls['lastnames'].errors?.[
                            'required'
                          ] && formSubmitted
                        "
                      >
                        Este campo es requerido.
                      </small>
                      <small
                        class="text-red-500 text-xs"
                        *ngIf="
                          registerForm.get('lastnames')?.errors?.['pattern']
                        "
                      >
                        Debe contener solo letras.
                      </small>
                    </div>
                  </div>
                  <div class="flex md:flex-row flex-column gap-2">
                    <div class="flex md:w-6 w-full flex-column">
                      <label
                        class="mb-2 font-bold"
                        for="birthdate"
                        [ngClass]="{
                          'text-red-500':
                            registerForm.get('birthdate')?.invalid &&
                            registerForm.get('birthdate')?.touched,
                        }"
                        >Fecha de nacimiento:</label
                      >
                      <p-datepicker
                        formControlName="birthdate"
                        [iconDisplay]="'input'"
                        [showIcon]="true"
                        inputId="icondisplay"
                        placeholder="Seleccione su fecha de nacimiento"
                        [ngClass]="{
                          'ng-invalid ng-dirty':
                            registerForm.get('birthdate')?.invalid &&
                            registerForm.get('birthdate')?.touched,
                        }"
                        styleClass="w-full"
                      />
                      <small
                        class="text-red-500 text-xs"
                        *ngIf="
                          registerForm.controls['birthdate'].errors?.[
                            'required'
                          ] && formSubmitted
                        "
                      >
                        Este campo es requerido.
                      </small>
                    </div>
                    <div class="flex md:w-6 w-full flex-column">
                      <label
                        class="mb-2 font-bold"
                        for="gender"
                        [ngClass]="{
                          'text-red-500':
                            registerForm.get('gender')?.invalid &&
                            registerForm.get('gender')?.touched,
                        }"
                        >Genero:</label
                      >
                      <p-select
                        optionLabel="name"
                        [optionValue]="'value'"
                        [options]="typesGender"
                        formControlName="gender"
                        placeholder="Seleccione su género"
                        class="w-full"
                        [ngClass]="{
                          'ng-invalid ng-dirty':
                            registerForm.get('gender')?.invalid &&
                            registerForm.get('gender')?.touched,
                        }"
                      />
                      <small
                        class="text-red-500 text-xs"
                        *ngIf="
                          registerForm.controls['gender'].errors?.[
                            'required'
                          ] && formSubmitted
                        "
                      >
                        Este campo es requerido.
                      </small>
                    </div>
                  </div>
                  <div class="flex md:flex-row flex-column gap-2">
                    <div class="flex md:w-6 w-full flex-column">
                      <label
                        class="mb-2 font-bold"
                        for="email"
                        [ngClass]="{
                          'text-red-500':
                            registerForm.get('email')?.invalid &&
                            registerForm.get('email')?.touched,
                        }"
                        >Correo</label
                      >
                      <input
                        id="email"
                        pInputText
                        formControlName="email"
                        placeholder="Ingrese su correo"
                        [ngClass]="{
                          'ng-invalid ng-dirty':
                            registerForm.get('email')?.invalid &&
                            registerForm.get('email')?.touched,
                        }"
                      />
                      <small
                        class="text-red-500 text-xs"
                        *ngIf="registerForm.controls['email'].errors?.['email']"
                      >
                        Ingrese un correo valido.
                      </small>
                      <small
                        class="text-red-500 text-xs"
                        *ngIf="
                          registerForm.controls['email'].errors?.['required'] &&
                          formSubmitted
                        "
                      >
                        Este campo es requerido.
                      </small>
                    </div>
                    <div class="flex md:w-6 w-full flex-column">
                      <label
                        class="mb-2 font-bold"
                        for="phone"
                        [ngClass]="{
                          'text-red-500':
                            registerForm.get('phone')?.invalid &&
                            registerForm.get('phone')?.touched,
                        }"
                        >Celular</label
                      >
                      <input
                        id="phone"
                        pInputText
                        formControlName="phone"
                        placeholder="Ingrese su celular"
                        [ngClass]="{
                          'ng-invalid ng-dirty':
                            registerForm.get('phone')?.invalid &&
                            registerForm.get('phone')?.touched,
                        }"
                      />
                      <small
                        class="text-red-500 text-xs"
                        *ngIf="
                          registerForm.controls['email'].errors?.['required'] &&
                          formSubmitted
                        "
                      >
                        Este campo es requerido.
                      </small>
                      <small
                        class="text-red-500 text-xs"
                        *ngIf="registerForm.get('phone')?.errors?.['pattern']"
                      >
                        Debe ser un celular válido.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="flex flex-column md:flex-row mt-4 md:justify-content-between gap-2"
              >
                <p-button
                  variant="outlined"
                  styleClass="w-full md:w-15rem text-base"
                  label="Atrás"
                  (click)="prevStep()"
                />
                <p-button
                  styleClass="w-full md:w-15rem text-base"
                  label="Continuar"
                  type="submit"
                  [loading]="loadingForm"
                />
              </div>
            </div>
          </form>
        }
      } @else if (currentStep === 1) {
        <form
          [formGroup]="appointmentForm"
          class="flex w-full md:flex-row flex-column"
          (ngSubmit)="crearUsuario()"
        >
          <div class="md:hidden">
            <p
              class="text-5xl text-blue-500 font-bold mb-0 text-center md:text-left"
            >
              Selección de horario
            </p>
            <p
              class="text-sm font-bold text-gray-400 mb-0 text-center md:text-left w-11 m-auto"
            >
              Selecciona una especialidad y un horario disponible para tu cita
            </p>
          </div>
          <div
            class="flex align-items-center justify-content-center"
            style="width: 40%"
          >
            <p-datepicker
              formControlName="date"
              [inline]="true"
              [minDate]="today"
              styleClass="hidden md:block custom-datepicker"
              (onSelect)="consultarHorarioDisponible()"
            />
          </div>
          <div class="flex flex-column items-center md:p-0 p-2 w-full md:w-8">
            <div class="flex flex-column md:flex-row justify-content-center items-center gap-4 p-4">
              <div class="flex align-items-center gap-4 w-full">
                <label
                  class="text-3xl text-blue-500 font-bold"
                  for="identification"
                  >Especialidad:</label
                >
                <p-select
                  optionLabel="name"
                  [optionValue]="'id'"
                  [options]="specialties"
                  placeholder="Seleccione una especialidad"
                  class=""
                  formControlName="specialty"
                  (onChange)="consultarHorarioDisponible()"
                />
              </div>
              <div
                class="flex align-items-center gap-4 w-full"
                *ngIf="
                  this.appointmentForm.get('specialty')?.value &&
                  appointmentsAvailable.length > 0
                "
              >
                <label
                  class="text-3xl text-blue-500 font-bold"
                  for="identification"
                  >Doctor:</label
                >
                <p-select
                  optionLabel="name"
                  optionValue="id"
                  [options]="consultorios()"
                  placeholder="Seleccione un doctor"
                  (onChange)="seleccionarDoctor($event)"
                  formControlName="doctorId"
                />
              </div>
            </div>

            <div
              class="md:hidden flex md:flex-row flex-column md:align-items-center md:gap-4 w-full"
            >
              <label
                class="text-xl md:text-3xl text-blue-500 font-bold w"
                for="identification"
                >Fecha:</label
              >
              <p-datepicker
                styleClass="w-full"
                formControlName="date"
                dateFormat="dd.mm.yy"
                (onSelect)="consultarHorarioDisponible()"
              />
            </div>
            @if (this.appointmentForm.get('specialty')?.value) {
              @if (appointmentsAvailable.length > 0) {
                <!-- <div *ngFor="let item of appointmentsAvailable"> -->
                <div class="">
                  <div class="">
                    <p class="text-2xl mb-0">
                     DR.
                      {{
                        doctorSelected?.consultorio?.doctor.nombres.toUpperCase()
                      }}
                      {{
                        doctorSelected?.consultorio?.doctor.apellidos.toUpperCase()
                      }}
                    </p>
                  </div>
                  <div
                    class="w-full bg-blue-500"
                    style="height: 1px; background-color: rgb(196, 196, 196)"
                  ></div>
                  <div class="">
                    <p class="">Horarios de atención</p>
                    <div class="flex flex-wrap gap-4 ml-4">
                      <div
                        *ngFor="let times of doctorSelected.intervalos"
                        [ngClass]="{
                          'bg-blue-500 text-white':
                            times.hora === appointmentForm.get('time')?.value,
                          'hover:bg-blue-200':
                            times.hora !== appointmentForm.get('time')?.value &&
                            times.disponible,
                          'opacity-50 pointer-events-none': !times.disponible,
                        }"
                        class="border-2 border-blue-500 border-round-md block px-5 py-2 hover:bg-blue-200 transition-duration-500"
                        tabindex="0"
                        role="button"
                        (click)="
                          seleccionarHora(
                            times.hora,
                            doctorSelected?.consultorio?.doctor?.id,
                            doctorSelected?.consultorio?.id
                          )
                        "
                        (keydown.enter)="
                          seleccionarHora(
                            times.hora,
                            doctorSelected?.consultorio?.doctor?.id,
                            doctorSelected?.consultorio?.id
                          )
                        "
                        (keydown.space)="
                          seleccionarHora(
                            times.hora,
                            doctorSelected?.consultorio?.doctor?.id,
                            doctorSelected?.consultorio?.id
                          )
                        "
                      >
                        {{ times.hora }}
                      </div>
                    </div>
                  </div>
                </div>
              } @else {
                <div class="w-full flex align-items-center flex-column">
                  <div
                    class="flex align-items-center justify-content-center"
                    style="width: 90%"
                  >
                    <img
                      src="/assets/no-available.png"
                      alt="Logo"
                      class="h-20rem"
                    />
                  </div>

                  <p class="text-4xl text-center text-blue-500 font-bold mb-0">
                    No hay doctores disponibles
                  </p>
                </div>
              }
            } @else {
              <div
                class="w-full flex align-items-center justify-content-center flex-column"
              >
                <div
                  class="overflow-hidden w-full md:w-30rem flex justify-content-center"
                >
                  <div
                    class="bg-cover bg-center border-primary-500 border-round h-16rem md:w-10 w-full"
                    style="background-image: url('/assets/waiting.png')"
                  ></div>
                </div>

                <p
                  class="text-3xl md:text-4xl text-center text-blue-500 font-bold mb-0"
                >
                  Seleccione una especialidad
                </p>
              </div>
            }
            <div
              class="flex flex-column md:flex-row justify-content-between gap-2 mt-2 px-4"
            >
              <p-button
                variant="outlined"
                styleClass="md:w-15rem w-full text-base"
                label="Atrás"
                (click)="prevStep()"
              />
              <p-button
                styleClass="md:w-15rem w-full text-base"
                label="Continuar"
                (click)="aceptarHorario()"
              />
            </div>
            <!-- <div class="border-2">
              <p-button label="Continuar" (click)="aceptarHorario()" />
            </div> -->
          </div>
        </form>
      } @else if (currentStep === 2) {
        <div
          class="border-2 w-full md:w-min px-2 py-2 md:px-4 md:py-4 border-blue-500 border-round-lg mt-0 shadow-2"
        >
          <div
            class="flex flex-column md:justify-content-center md:items-center gap-4 md:p-4"
          >
            <div class="">
              <p
                class="text-3xl md:text-5xl text-center font-bold mb-0 text-blue-500"
              >
                Resumen de la cita
              </p>
              <p class="text-xs md:text-sm text-center font-bold text-gray-400">
                Revisa los datos de tu cita antes de confirmar
              </p>
            </div>
            <div
              class="flex gap-4 md:align-items-center md:flex-row flex-column"
            >
              <div class="flex flex-column md:w-15rem">
                <label
                  class="mb-2 font-bold text-blue-500"
                  for="identification"
                >
                  Identificación:</label
                >
                <input
                  id="identification"
                  readonly
                  pInputText
                  [value]="this.identificationForm.get('identification')?.value"
                />
              </div>
              <div class="flex flex-column md:w-15rem">
                <label class="mb-2 text-blue-500 font-bold" for="names">
                  Nombres:</label
                >
                <input
                  id="names"
                  pInputText
                  readonly
                  [value]="
                    this.registerForm.get('names')?.value +
                    ' ' +
                    this.registerForm.get('lastnames')?.value
                  "
                />
              </div>
            </div>
            <div
              class="flex gap-4 md:align-items-center md:flex-row flex-column"
            >
              <div class="flex flex-column md:w-15rem">
                <label class="mb-2 font-bold text-blue-500" for="specialty">
                  Especialidad:</label
                >
                <input
                  id="specialty"
                  pInputText
                  readonly
                  [value]="specialtyName"
                />
              </div>
              <div class="flex flex-column md:w-15rem">
                <label class="mb-2 text-blue-500 font-bold" for="doctor">
                  Doctor:</label
                >
                <input id="doctor" pInputText [value]="nameDoctor"  readonly/>
              </div>
            </div>
            <div
              class="flex gap-4 md:align-items-center md:flex-row flex-column"
            >
              <div class="flex flex-column md:w-15rem">
                <label class="mb-2 font-bold text-blue-500" for="date">
                  Fecha:</label
                >
                <input
                  id="date"
                  pInputText
                  readonly
                  [value]="formatDate(this.appointmentForm.get('date')?.value)"
                />
              </div>
              <div class="flex flex-column md:w-15rem">
                <label class="mb-2 text-blue-500 font-bold" for="time">
                  Hora:</label
                >
                <input
                  id="time"
                  pInputText
                  readonly
                  [value]="this.appointmentForm.get('time')?.value"
                />
              </div>
            </div>
          </div>
          <div
            class="flex flex-column md:flex-row md:justify-content-between gap-2 p-4"
          >
            <p-button
              variant="outlined"
              styleClass="w-full md:w-13rem text-base"
              label="Atrás"
              (click)="prevStep()"
            />
            <p-button
              styleClass="w-full md:w-15rem text-base"
              label="Confirmar Cita"
              (click)="submitAppointment()"
              [loading]="loadingForm"
            />
          </div>
        </div>
      } @else if (currentStep === 3) {
        <div
          class="flex flex-column justify-content-center items-center gap-4 p-4"
        >
          <div
            class="flex align-items-center justify-content-center"
            style="width: 90%"
          >
            <img
              src="/assets/check.png"
              alt="Logo"
              class="h-14rem md:h-20rem"
            />
          </div>
          <div class="">
            <p class="text-5xl text-center font-bold mb-0 text-blue-500">
              Cita Confirmada
            </p>
            <p class="text-sm text-center font-bold text-gray-400">
              Tu cita ha sido confirmada exitosamente
            </p>
          </div>
          <div
            class="flex flex-column justify-content-center items-center w-auto m-auto"
          >
            <p-button
              [routerLink]="['/login']"
              styleClass="w-15rem text-base"
              label="Iniciar sesión"
            />
          </div>
        </div>
      }
    </div>
  </div>
</div>
