.placeholder-red::placeholder {
  color: red !important;
}
:host ::ng-deep .p-select-overlay {
  background-color: white;
  border-color: #e5e7eb;
}

:host ::ng-deep .p-select-option {
  color: black;
}
:host
  ::ng-deep
  .p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus {
  background-color: #201c75;
  color: white;
}

:host ::ng-deep .p-select-option.p-select-option-selected.p-focus {
  color: white;
  background-color: #201c75;
}

:host ::ng-deep .p-select-option.p-select-option-selected {
  color: white;
  background-color: black;
}

:host ::ng-deep .p-select-label {
  color: black;
}

:host ::ng-deep .error-select .p-select-label.p-placeholder {
  color: red !important;
}

:host ::ng-deep .icon-pointer .p-icon {
  cursor: pointer;
}

:host ::ng-deep .p-password-input {
  background-color: white;
  border-color: #e5e7eb;
  color: black;
}

:host ::ng-deep .password-invalid .p-password-input {
  border-color: red !important;
}
:host ::ng-deep .password-invalid .p-password-input::placeholder {
  color: red !important;
}

:host ::ng-deep .p-inputtext:enabled:focus {
  border-color: #e5e7eb;
}

:host ::ng-deep .p-inputtext:enabled:hover {
  border-color: #e5e7eb;
}

:host ::ng-deep .p-password-overlay {
  background-color: white;
  border-color: #e5e7eb;
}

:host ::ng-deep .p-password-meter {
  background-color: #e5e7eb;
}

:host ::ng-deep .p-password-meter-text {
  color: black;
}

:host ::ng-deep .p-password.ng-invalid.ng-dirty .p-inputtext:enabled:focus {
  border-color: #e5e7eb;
}

:host ::ng-deep .p-inputtext {
  color: black !important;
}

:host ::ng-deep .invalid-date .p-datepicker-input {
  border-color: red !important;
}

:host ::ng-deep .invalid-date .p-datepicker-input::placeholder {
  color: red !important;
}
