<div class="w-full h-full">
  <p-toast />
  <app-reschedule-appointment
    *ngIf="visible"
    [(visible)]="visible"
    [idAppointment]="idAppointment"
    (appointmentUpdated)="getAppointments()"
  ></app-reschedule-appointment>
  <div class="flex w-full">
    <div class="flex flex-column h-full" style="width: 80%">
      <p class="text-5xl font-bold mb-0" style="color: #3b82f6">
        Citas Medicas
      </p>
      <p class="text-xl font-bold mb-0 text-gray-400">
        Agenda o revisa tus citas medicas
      </p>
    </div>
    <div
      class="flex align-items-center justify-content-center"
      style="width: 20%"
    >
      <p-button
        label="Agendar cita"
        [style]="{ width: '150px' }"
        size="large"
        [routerLink]="['/patients/appointments/create']"
      />
    </div>
  </div>
  <div class="flex flex-column p-4">
    <p class="text-5xl font-bold text-center mb-6">Tus citas medicas</p>
    @if (loading) {
      <div
        *ngFor="let i of [1, 2, 3]"
        class="bg-blue-50 grid p-4 mb-4"
        style="
          height: 135px;
          border-left: 7px solid #3b82f6;
          border-top: 0;
          border-right: 0;
          border-bottom: 0;
        "
      >
        <div
          class="col flex flex-column justify-content-center align-items-start border-right-2 border-blue-300"
        >
          <p-skeleton width="10rem" class="mb-2" />
          <p-skeleton width="10rem" height="2rem" class="mb-2" />
        </div>
        <div
          class="col flex flex-column justify-content-center align-items-center border-right-2 border-blue-300"
        >
          <p-skeleton width="10rem" class="mb-2" />
          <p-skeleton width="10rem" height="2rem" class="mb-2" />
        </div>
        <div
          class="col flex flex-column justify-content-center align-items-center border-right-2 border-blue-300"
        >
          <p-skeleton width="10rem" class="mb-2" />
          <p-skeleton width="10rem" height="2rem" class="mb-2" />
        </div>
        <div
          class="col flex flex-column justify-content-center align-items-center border-right-2 border-blue-300"
        >
          <p-skeleton width="10rem" class="mb-2" />
          <p-skeleton width="10rem" height="2rem" class="mb-2" />
        </div>
        <div
          class="col flex flex-column justify-content-center align-items-center gap-2"
        >
          <p-skeleton width="10rem" class="mb-2" />
          <p-skeleton width="10rem" height="2rem" class="mb-2" />
        </div>
      </div>
    } @else if (appointments.length > 0) {
      <div
        class="bg-blue-50 grid p-4 mb-4"
        style="
          height: 135px;
          border-left: 7px solid #3b82f6;
          border-top: 0;
          border-right: 0;
          border-bottom: 0;
        "
        *ngFor="let appointment of  pagedAppointments"
      >
        <div
          class="col flex flex-column justify-content-center align-items-start border-right-2 border-blue-300"
        >
          <p class="text-lg font-semibold mb-0 text-gray-500">Fecha</p>
          <p class="text-2xl font-bold mb-0">
            {{ appointment?.fecha }} {{ appointment?.hora }}
          </p>
        </div>
        <div
          class="col flex flex-column justify-content-center align-items-center border-right-2 border-blue-300"
        >
          <p class="text-lg font-semibold mb-0 text-gray-500">Especialidad</p>
          <p class="text-2xl font-bold mb-0">
            {{ appointment?.doctor?.especialidades?.name }}
          </p>
        </div>
        <div
          class="col flex flex-column justify-content-center align-items-center border-right-2 border-blue-300"
        >
          <p class="text-lg font-semibold mb-0 text-gray-500">Doctor</p>
          <p class="text-2xl font-bold mb-0">
            {{ appointment?.doctor?.nombres }}
            {{ appointment?.doctor?.apellidos }}
          </p>
        </div>
        <div
          class="col flex flex-column justify-content-center align-items-center border-right-2 border-blue-300"
        >
          <p class="text-lg font-semibold mb-1 text-gray-500">Estado</p>
          <p-tag
            [severity]="
              appointment?.estado === 'cancelado'
                ? 'danger'
                : appointment?.estado === 'pendiente'
                  ? 'warn'
                  : appointment?.estado === 'atendido'
                    ? 'success'
                    : 'info'
            "
            [value]="appointment?.estado?.toUpperCase()"
            [rounded]="true"
            [styleClass]="'text-xl'"
          />
        </div>
        <div
          class="col flex flex-column justify-content-center align-items-center gap-2"
        >
          <p-button
            *ngIf="appointment?.estado === 'pendiente'"
            label="Cancelar cita"
            size="small"
            variant="outlined"
            severity="info"
            [loading]="loadingButton"
            (click)="updateStateAppointment(appointment.id)"
          />
          <p-button
            *ngIf="appointment?.estado === 'pendiente'"
            label="Reagendar cita"
            size="small"
            [loading]="loadingButton"
            (click)="rescheduleAppointment(appointment.id)"
          />
        </div>
      </div>

      <p-paginator
        [rows]="rows"
        [totalRecords]="appointments.length"
        [first]="first"
        (onPageChange)="onPageChange($event)"
      ></p-paginator>
    } @else {
      <div class="flex flex-column align-items-center">
        <img src="/assets/not-documents.png" alt="Logo" class="w-30rem" />
        <p class="text-2xl font-bold text-gray-500 mb-4">
          No tienes citas medicas agendadas
        </p>
      </div>
    }
  </div>
</div>
