<nav class="p-2 border-300 shadow-3">
  <div class="container-fluid flex align-items-center justify-content-between">
    <div class="navbar-header flex align-items-center gap-2">
      <span class="navbar-brand flex align-items-center gap-2">
        <img src="/assets/logo.png" alt="Logo" class="w-4" />
      </span>
    </div>
    <button
      class="border-round-sm p-2 bg-white border-1 border-red-500 text-red-500"
      (click)="logout()"
    >
      <i class="fas fa-sign-out-alt pr-2 text-red-500"></i>
      Cerrar Sesión
    </button>
  </div>
</nav>
