<p-dialog
  [(visible)]="isDialogOpen"
  [modal]="true"
  [style]="{ width: '30rem' }"
  (onHide)="closeDialog()"
>
  <ng-template #header>
    <h1 class="font-bold">Activa tu cuenta</h1>
  </ng-template>
  <p class="font-normal">{{ activateAccountMessage }}</p>

  <div class="flex gap-2 justify-center my-4">
    <input
      *ngFor="let digit of [0, 1, 2, 3, 4, 5]; let i = index"
      maxlength="1"
      type="text"
      class="w-10 h-30 text-center border otp-input rounded text-xl"
      autocomplete="one-time-code"
      #otpInput
      (input)="onOtpInput($event, i)"
      (keydown.backspace)="onOtpBackspace($event, i)"
    />
  </div>

  <ng-template #footer>
    <p-button
      label="Cancel"
      [text]="true"
      severity="secondary"
      (click)="closeDialog()"
      (keydown.enter)="closeDialog()"
    />
    <p-button
      label="Save"
      [outlined]="true"
      severity="secondary"
      (click)="onSubmit()"
      (keydown.enter)="onSubmit()"
    />
  </ng-template>
</p-dialog>
