<div class="h-full">
  @if (loading) {
    <div class="flex justify-content-between align-items-center my-4">
      <p-skeleton width="30rem" height="2rem" class="" />
      <div class="flex gap-4">
        <p-skeleton width="5rem" height="2rem" class="" />
        <p-skeleton width="5rem" height="2rem" class="" />
      </div>
    </div>
    <div class="bg-gray-500" style="height: 0.5px"></div>
    <div
      class="mt-4 flex flex-column justify-content-center align-items-center"
      style="height: 75%"
    >
      <svg
        class="spin h-4rem w-4rem text-blue-500"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 640 640"
        fill="currentColor"
      >
        <path
          d="M286.7 96.1C291.7 113 282.1 130.9 265.2 135.9C185.9 159.5 128.1 233 128.1 320C128.1 426 214.1 512 320.1 512C426.1 512 512.1 426 512.1 320C512.1 233.1 454.3 159.6 375 135.9C358.1 130.9 348.4 113 353.5 96.1C358.6 79.2 376.4 69.5 393.3 74.6C498.9 106.1 576 204 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320C64 204 141.1 106.1 246.9 74.6C263.8 69.6 281.7 79.2 286.7 96.1z"
        />
      </svg>
      <p class="text-blue-500">Cargando...</p>
    </div>
  } @else {
    <div class="flex gap-2 p-2 mb-2 align-items-end justify-content-between">
      <div style="width: 60%">
        <p
          class="text-blue-500 font-semibold text-4xl mb-0 line-clamp-2"
          style="
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          "
        >
          {{ treatment.name }}
        </p>
      </div>
      <div class="flex items-start self-end gap-4">
        <div class="flex items-center gap-2">
          <p class="mb-0 text-lg font-semibold">Fecha inicio:</p>
          <p-tag [value]="formatDate(treatment.fecha_inicio)" />
        </div>
        <div class="flex items-center gap-2">
          <p class="mb-0 text-lg font-semibold">Fecha fin:</p>
          <p-tag [value]="formatDate(treatment.fecha_fin)" />
        </div>
      </div>
    </div>
    <div class="bg-gray-500 mb-4" style="height: 0.5px"></div>
    <div class="px-3">
      <div class="grid text-lg font-normal p-4 h-full w-30">
        <div class="col-6 flex flex-column text-4xl">
          <p class="font-bold text-blue-500 text-xl mb-0">Médico tratante</p>
          <p class="font-light mb-0">
            {{ treatment.medico.nombres }} {{ treatment.medico.apellidos }}
          </p>
        </div>
        <div class="col-12">
          <p-table
            [value]="treatment.detallesTratamiento || []"
            [tableStyle]="{ 'min-width': '50rem' }"
            size="large"
          >
            <ng-template #header>
              <tr class="font-bold text-lg text-black">
                <th scope="col">Medicamento</th>
                <th scope="col">Dosis</th>
                <th scope="col">Frecuencia</th>
                <th scope="col">Duración</th>
                <th scope="col">Forma</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-detail>
              <tr class="font-normal text-xl text-black">
                <td>
                  {{
                    detail.medicamento.nombre_comercial ||
                      detail.medicamento.nombre_generico
                  }}
                </td>
                <td>{{ detail.dosis }}</td>
                <td>{{ detail.frecuencia }}</td>
                <td>{{ detail.duracion }}</td>
                <td>{{ detail.medicamento.forma_farmaceutica }}</td>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="5" class="text-center text-gray-500 text-lg py-4">
                  No hay datos disponibles
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="flex flex-column mt-4 px-3">
          <p class="font-bold text-blue-500 text-xl mb-0">Observaciones</p>
          <p class="font-light">
            {{ treatment.observaciones || 'Sin observaciones' }}
          </p>
        </div>
        <div class="col-12 gap-2 flex flex-row flex-wrap justify-content-end">
          <button
            pButton
            class="border-blue-500 text-blue-500 bg-white border-2 font-semibold"
            (click)="goBack()"
          >
            Volver a la lista
          </button>
        </div>
      </div>
    </div>
  }
</div>
