<div class="h-full">
  @if (loading) {
    <div class="flex justify-content-between align-items-center my-4">
      <p-skeleton width="30rem" height="2rem" class="" />
      <div class="flex gap-4">
        <p-skeleton width="5rem" height="2rem" class="" />
        <p-skeleton width="5rem" height="2rem" class="" />
      </div>
    </div>
    <div class="bg-gray-500" style="height: 0.5px"></div>
    <div
      class="mt-4 flex flex-column justify-content-center align-items-center"
      style="height: 75%"
    >
      <svg
        class="spin h-4rem w-4rem text-blue-500"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 640 640"
        fill="currentColor"
      >
        <path
          d="M286.7 96.1C291.7 113 282.1 130.9 265.2 135.9C185.9 159.5 128.1 233 128.1 320C128.1 426 214.1 512 320.1 512C426.1 512 512.1 426 512.1 320C512.1 233.1 454.3 159.6 375 135.9C358.1 130.9 348.4 113 353.5 96.1C358.6 79.2 376.4 69.5 393.3 74.6C498.9 106.1 576 204 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320C64 204 141.1 106.1 246.9 74.6C263.8 69.6 281.7 79.2 286.7 96.1z"
        />
      </svg>
      <p class="text-blue-500">Cargando...</p>
    </div>
  } @else {
    <div class="flex gap-2 p-2 mb-2 align-items-center justify-content-between">
      <div
        class=""
        style="
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 60%;
        "
      >
        <p
          class="text-blue-500 font-semibold text-overflow-ellipsis overflow-hidden align-items-center text-4xl mb-0"
        >
          {{ labsReport.nombre_examen }}
        </p>
      </div>
      <div class="flex align-items-start align-self-end gap-4">
        @if (labsReport.estado === 'Completado') {
          <div class="flex justify-content-end align-items-center">
            <p class="mb-0 text-lg font-semibold">Fecha:</p>
            <p class="mb-0 text-lg">
              {{ formatDate(labsReport.fecha_reporte) }}
            </p>
          </div>
        }
        @if (labsReport.estado === 'Pendiente') {
          <div class="flex justify-content-end align-items-center gap-2">
            <p class="mb-0 text-lg font-semibold">Fecha:</p>
            <p-tag
              [value]="formatDate(labsReport.fecha_agendamiento)"
              severity="secondary"
            />
          </div>
        }
        <div class="flex justify-content-center align-items-center gap-2">
          <p class="mb-0 text-lg font-semibold">Estado:</p>
          <p-tag
            [value]="labsReport.estado"
            [severity]="
              labsReport.estado === 'Completado' ? 'info' : 'secondary'
            "
          />
        </div>
      </div>
    </div>
    <div class="bg-gray-500" style="height: 0.5px"></div>
    <div class="px-3 mt-4">
      <div class="grid text-lg p-4 h-full w-30">
        <div class="col-6 flex flex-column text-4xl">
          <p class="font-bold text-blue-500 text-xl mb-0">Tipo de examen</p>
          <p class="font-light">{{ labsReportDetails.tipoExamen.nombre }}</p>
        </div>
        <div class="col-6 flex flex-column text-4xl">
          <p class="font-bold text-blue-500 text-xl mb-0">Medico solicitante</p>
          <p class="font-light">
            {{ labsReport.medico.nombres }} {{ labsReport.medico.apellidos }}
          </p>
        </div>
        <div class="col-12">
          <p-table
            [value]="[labsReportDetails]"
            class="shadow-2"
            [tableStyle]="{ 'min-width': '50rem' }"
            size="large"
          >
            <ng-template #header>
              <tr class="font-bold text-lg text-black">
                <th scope="col">Resultado</th>
                <th scope="col">Unidades</th>
                <th scope="col">Valores de referencia</th>
              </tr>
            </ng-template>
            <ng-template #body let-detail>
              <tr class="font-normal text-2xl text-black bg-gray-50">
                <td>
                  {{
                    detail.valor_resultado
                      ? detail.valor_resultado
                      : 'Pendiente'
                  }}
                </td>
                <td>{{ detail.unidad_medida }}</td>
                <td>
                  {{ detail.valor_referencia }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="col-12">
          <div class="flex flex-column text-normal">
            <div class="font-bold text-blue-500 text-lg">Interpretación:</div>
            {{
              labsReportDetails.interpretacion
                ? labsReportDetails.interpretacion
                : 'Pendiente'
            }}
          </div>
        </div>
        <div class="col-12">
          <div class="flex flex-column text-normal">
            <div class="font-bold text-blue-500 text-lg">Observaciones:</div>
            @if (
              !labsReportDetails.observaciones &&
              labsReport.estado !== 'Pendiente'
            ) {
              <p>No hay observaciones</p>
            }
            @if (
              !labsReportDetails.observaciones &&
              labsReport.estado !== 'Completado'
            ) {
              <p>Pendiente</p>
            }
            @if (labsReportDetails.observaciones) {
              <p>{{ labsReportDetails.observaciones }}</p>
            }
          </div>
        </div>
        <div class="col-12 gap-2 flex flex-row flex-wrap justify-content-end">
          <button
            pButton
            class="border-blue-500 text-blue-500 bg-white border-2 font-semibold"
            (click)="goBack()"
          >
            Volver a la lista
          </button>
          @if (labsReport.estado === 'Completado') {
            <button pButton class="" (click)="generateLabReportPdf()">
              Generar reporte
            </button>
          }
        </div>
      </div>
    </div>
  }
</div>
