<div class="flex flex-row gap-2 p-2 align-content-center flex-wrap w-full">
  <div class="col-8 flex flex-row align-content-center gap-2">
    <div class="max-w-24rem align-content-center">
      <h2
        class="text-blue-500 font-semibold text-overflow-ellipsis overflow-hidden align-items-center"
      >
        {{ labsReport.nombre_examen }}
      </h2>
    </div>
    @if (labsReport.estado === 'Completado') {
      <div
        class="flex border border-round-lg w-fit px-2 justify-content-center align-items-center bg-blue-500 text-white text-lg font-semibold"
      >
        {{ labsReport.estado }}
      </div>
    }
    @if (labsReport.estado === 'Pendiente') {
      <div
        class="flex border-2 border-round-lg w-fit px-2 justify-content-center align-items-center bg-white border-blue-500 text-blue-500 text-lg font-semibold"
      >
        {{ labsReport.estado }}
      </div>
    }
  </div>
  @if (labsReport.estado === 'Completado') {
    <div
      class="col-3 flex justify-content-end align-items-center text-lg font-semibold"
    >
      {{ formatDate(labsReport.fecha_reporte) }}
    </div>
  }
  @if (labsReport.estado === 'Pendiente') {
    <div
      class="col-3 flex justify-content-end align-items-center text-lg font-semibold"
    >
      {{ formatDate(labsReport.fecha_agendamiento) }}
    </div>
  }
</div>
<div class="px-3">
  <div
    class="grid text-lg font-normal border border-gray-200 border-round-lg p-4 bg-gray-50 h-full w-30 shadow"
  >
    <div class="col-6 flex flex-column font-normal text-4xl">
      <div class="font-bold text-lg">Tipo de examen</div>
      {{ labsReportDetails.tipoExamen.nombre }}
    </div>
    <div class="col-6 flex flex-column font-normal text-4xl">
      <div class="font-bold text-lg">Medico solicitante</div>
      {{ labsReport.medico.nombres }} {{ labsReport.medico.apellidos }}
    </div>
    <div class="col-12">
      <p-table
        [value]="[labsReportDetails]"
        [tableStyle]="{ 'min-width': '50rem' }"
        size="large"
      >
        <ng-template #header>
          <tr class="font-bold text-lg text-black">
            <th scope="col">Resultado</th>
            <th scope="col">Unidades</th>
            <th scope="col">Valores de referencia</th>
          </tr>
        </ng-template>
        <ng-template #body let-detail>
          <tr class="font-normal text-4xl text-black">
            <td>
              {{
                detail.valor_resultado ? detail.valor_resultado : 'Pendiente'
              }}
            </td>
            <td>{{ detail.unidad_medida }}</td>
            <td>
              {{ detail.valor_referencia }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="col-12">
      <div class="flex flex-column font-light text-normal">
        <div class="font-bold text-lg">Interpretacion</div>
        {{
          labsReportDetails.interpretacion
            ? labsReportDetails.interpretacion
            : 'Pendiente'
        }}
      </div>
    </div>
    <div class="col-12">
      <div class="flex flex-column font-light text-normal">
        <div class="font-bold text-lg">Observaciones</div>
        @if (
          !labsReportDetails.observaciones && labsReport.estado !== 'Pendiente'
        ) {
          <p>No hay observaciones</p>
        }
        @if (
          !labsReportDetails.observaciones && labsReport.estado !== 'Completado'
        ) {
          <p>Pendiente</p>
        }
        @if (labsReportDetails.observaciones) {
          <p>{{ labsReportDetails.observaciones }}</p>
        }
      </div>
    </div>
    <div class="col-12 gap-2 flex flex-row flex-wrap justify-content-end">
      <button
        pButton
        class="border-blue-500 text-blue-500 bg-white border-2 font-semibold"
        (click)="goBack()"
      >
        Volver a la lista
      </button>
      @if (labsReport.estado === 'Completado') {
        <button pButton class="" (click)="generateLabReportPdf()">Generar reporte</button>
      }
    </div>
  </div>
</div>
