<div class="flex w-full h-full flex-column ">
  <div class="flex w-full">
    <div class="flex flex-column h-full" style="width: 80%">
      <p class="text-5xl font-bold mb-0" style="color: #3b82f6">
        Reportes de Laboratorio
      </p>
      <p class="text-xl font-bold mb-0 text-gray-400">
        Revisa tus exámenes realizados en laboratorios
      </p>
    </div>
  </div>
  <div class="flex flex-column mt-4">
    <app-labs-report-list class="h-full"></app-labs-report-list>
  </div>
</div>
