<div class="h-full flex flex-column">
  <div
    class="gap-4 h-full flex flex-wrap align-items-center justify-content-center"
  >
    @if (loading) {
      <div
        class="h-23rem p-4 bg-blue-50 shadow col-4 max-w-18rem flex flex-column"
        *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]"
        style="
          height: 135px;
          border-left: 7px solid #3b82f6;
          border-top: 0;
          border-right: 0;
          border-bottom: 0;
        "
      >
        <div class="w-full h-5rem max-h-5rem">
          <p-skeleton width="13rem" height="2rem" class="mb-2" />
        </div>
        <p-skeleton width="12rem" height="1rem" class="mb-2" />
        <p-skeleton width="12rem" height="1rem" class="mb-2" />
        <p-skeleton width="12rem" height="1rem" class="mb-2" />
        <p-skeleton width="12rem" height="1rem" class="mb-2" />
        <p-skeleton width="12rem" height="1rem" class="mb-2" />
      </div>
    } @else if (pagedReports.length > 0) {
      @for (report of pagedReports; track report.id) {
        <div
          class="h-23rem p-4 bg-blue-50 shadow max-w-20rem flex flex-column"
          style="
            height: 135px;
            border-left: 7px solid #3b82f6;
            border-top: 0;
            border-right: 0;
            border-bottom: 0;
          "
        >
          <div
            class="w-full h-5rem max-h-4rem overflow-hidden text-overflow-ellipsis mb-4"
          >
            <p
              class="text-2xl font-semibold text-blue-500 mb-0 overflow-hidden text-overflow-ellipsis"
            >
              {{ report.nombre_examen }} dasdasasdasd sadasdasd asdasd
              asdasdasdasd
            </p>
          </div>
          <p>
            <strong>Fecha agendado:</strong>
            {{ formatDate(report.fecha_agendamiento) }}
          </p>
          <p>
            <strong>Medico solicitante:</strong> {{ report.medico.username }}
          </p>
          <p><strong>Estado:</strong> {{ report.estado }}</p>
          @if (report.fecha_reporte) {
            <p>
              <strong>Fecha de reporte:</strong>
              {{ formatDate(report.fecha_reporte) }}
            </p>
          }
          <div class="mt-auto">
            <button pButton class="w-full" (click)="goToDetails(report.id)">
              Ver detalles <i class="pi pi-eye"></i>
            </button>
          </div>
        </div>
      }
    } @else {
      <div class="flex flex-column align-items-center">
        <img src="/assets/not-documents.png" alt="Logo" class="w-30rem" />
        <p class="text-2xl font-bold text-gray-500">
          No tienes reportes realizados
        </p>
      </div>
    }
  </div>
  <p-paginator
    [rows]="rows"
    [totalRecords]="labsReports.length"
    [first]="first"
    (onPageChange)="onPageChange($event)"
  ></p-paginator>
</div>
