<nav class="navbar navbar-expand-lg custom-navbar bg-body-tertiary">
  <div class="container-fluid">
    <!-- LOGO + TÍTULO -->
    <div class="navbar-brand d-flex flex-column flex-lg-row align-items-center text-center text-lg-start">
      <img src="/assets/logo.png" alt="Logo" class="navbar-logo" />
      <div class="navbar-title">
        <h1>Sistema de Gestión Médica</h1>
        <p class="navbar-subtitle mb-0">Panel Secretaria</p>
      </div>
    </div>

    <!-- BOTÓN RESPONSIVE -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- LINKS -->
    <div class="collapse navbar-collapse navbar-links" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['patients']" routerLinkActive="active" (click)="setActiveTab('patients')">
            <i class="fas fa-users"></i>
            Gestión de Pacientes
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['citas']" routerLinkActive="active" (click)="setActiveTab('citas')">
            <i class="fas fa-calendar-alt"></i>
            Gestión de Citas
          </a>
        </li>
      </ul>

      <!-- BOTÓN CERRAR SESIÓN -->
      <button class="btn btn-cerrar-sesion ms-lg-3" style="color: #ffff;" (click)="cerrarSesion()">
        <i class="fas fa-sign-out-alt"></i>
        Cerrar Sesión
      </button>
    </div>
  </div>
</nav>



<!-- Alertas toast para pacientes sin identificación -->
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 2000;">
  <ng-container *ngFor="let paciente of pacientesSinIdentificacion; let i = index">
    <div *ngIf="mostrarAlertas[i]" class="toast align-items-center text-bg-warning border-0 show fade toast-anim"
      style="min-width: 350px; cursor: pointer; margin-bottom: 0.5rem; background-color: #fff3cd; color: #856404;"
      (click)="irAEditarPaciente(paciente)">
      <div class="d-flex">
        <div class="toast-body">
          <strong>¡Atención!</strong> El paciente <b>{{ paciente.primer_nombre }} {{ paciente.apellido_paterno }}</b>
          aún no tiene la identificación colocada correctamente, por favor hacerlo.
        </div>
        <button type="button" class="btn-close btn-close-black me-2 m-auto" aria-label="Close"
          (click)="$event.stopPropagation(); mostrarAlertas[i] = false;">
        </button>

      </div>
    </div>
  </ng-container>
</div>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>