.custom-navbar {
  background: url('/assets/navbar_secre.png') no-repeat center center;
  background-size: cover;
  padding: 0.2rem 0.8rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: relative;
  z-index: 10;
  min-height: 60px;
}

.navbar-logo {
  width: 140px;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
}

.navbar-title h1 {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
  margin: 0;
}

.navbar-subtitle {
  font-size: 1rem;
  color: #ffffff;
  margin-top: -3px;
}

/* LINKS */
.navbar-links {
  align-items: center;
  gap: 2.5rem;
  margin-right: 4rem;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  padding: 0.25rem 0.8rem;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.nav-link i {
  font-size: 1.2rem;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.1px;
  background-color: #1a5562;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

/* BOTÓN CERRAR SESIÓN */
.btn-cerrar-sesion {
  background-color: transparent;
  color: #E61B48;
  border: 1.2px solid #E61B48;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s ease;
}

.btn-cerrar-sesion:hover {
  background-color: #ff0037;
  color: #fff;
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(230, 27, 72, 0.2);
}

/* 🔹 Estilos del botón hamburguesa */
.navbar-toggler {
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.3rem 0.4rem; 
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* 🔹 RESPONSIVE */
@media (max-width: 992px) {
  .navbar-logo {
    width: 140px;
  }

  .navbar-title h1 {
    font-size: 1rem;
  }

  .navbar-subtitle {
    font-size: 0.8rem;
  }

  .navbar-links {
    gap: 1rem;
  }

  .collapse.navbar-collapse {
    background-color: rgba(26, 85, 98, 0.95);
    border-radius: 8px;
    padding: 1rem;
    margin-top: 0.5rem;
  }

  .nav-link {
    display: block;
    padding: 0.8rem;
  }

  .navbar-brand {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}
