<div class="flex flex-column">
  <div class="grid gap-4 align-items-center">
    @if (loading) {
      <div
        class="border-round-lg p-4 bg-blue-50 shadow col-5 max-w-30rem min-h-18rem flex flex-column"
        *ngFor="let i of [1, 2, 3, 4, 5, 6]"
        style="
          border-left: 7px solid #3b82f6;
          border-top: 0;
          border-right: 0;
          border-bottom: 0;
        "
      >
        <p-skeleton width="24rem" height="2rem" class="mb-2" />
        <p-skeleton width="20rem" height="1rem" class="mb-2" />
        <p-skeleton width="16rem" height="1rem" class="mb-2" />
        <p-skeleton width="14rem" height="1rem" class="mb-2" />
        <p-skeleton width="10rem" height="1rem" class="mb-2" />
        <p-skeleton width="8rem" height="1rem" class="mb-2" />
      </div>
    } @else if (pagedTreatments.length > 0) {
      @for (treatment of pagedTreatments; track treatment.id) {
        <div
          class="border-round-lg p-4 bg-blue-50 shadow col-5 max-w-30rem min-h-18rem flex flex-column"
          style="
            border-left: 7px solid #3b82f6;
            border-top: 0;
            border-right: 0;
            border-bottom: 0;
          "
        >
          <div class="w-full h-5rem text-overflow-ellipsis overflow-hidden">
            <p class="text-blue-500 mb-2 text-xl font-semibold">
              {{ treatment.name }}
            </p>
          </div>
          <p>
            <strong>Medico tratante:</strong>
            {{ treatment.medico.nombres }} {{ treatment.medico.apellidos }}
          </p>
          <div class="mt-auto">
            <button pButton class="w-full" (click)="goToDetails(treatment.id)">
              Ver detalles <i class="pi pi-eye"></i>
            </button>
          </div>
        </div>
      }
    }
  </div>
  <div class="p-4 mt-auto">
    <p-paginator
      [rows]="rows"
      [totalRecords]="treatments.length"
      [first]="first"
      (onPageChange)="onPageChange($event)"
    ></p-paginator>
  </div>
</div>
